* {
    box-sizing: border-box; /* box-sizing est appliqué à tous les éléments */
}

body {
    background-color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

ul {
    padding: 0px;
    margin: 0px;
}

.active_color {
    color: #0065FC;
}

.inactive_color {
    color: #F2F2F2;
}

.blank_space {
    flex: 1;
}


/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#navigation {
    list-style-type: none;
    display: flex;
}

#navigation a {
    display: block;
    padding: 30px 20px;
    text-decoration: none;
    color: black;
    border-top: transparent 2px solid;
}

#navigation a:hover {
    color: #0065FC;
    border-top: #0065FC 2px solid;
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 10px 0 0 0;
    }

    #logo {
        padding-left: 40px;
    }

    header nav {
        width: 100%;
    }

    #navigation {
        width: 100%;
    }

    #navigation li {
        width: 50%;
        text-align: center;
    }

    #navigation a {
        padding: 30px 20px 15px 20px;
        border-top: 0px;
        border-bottom: 2px solid transparent;
    }

    #navigation a:hover {
        border-top: 0px;
        border-bottom: 2px solid #0065FC;
    }
}

/* End of header */
/* Main */

h1, h2 {
    font-size: 20px;
}

#search {
    margin: 0 20px;
}

#search p {
    margin-bottom: 20px;
}

#search form {
    display: inline-flex;
    margin-bottom: 30px;
}

#search form label {
    background-color: #F2F2F2;
    padding: 12px 15px;
    border-radius: 10px 0 0 10px;
    text-align: center;
}

#search form input {
    border: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
    padding: 0 15px;
    font-weight: bold;
}

#search form button {
    border: none;
    border-radius: 0 10px 10px 0;
    padding: 0 15px;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#search form button i {
    display: none;
}

#search form button span {
    display: inline;
}

#filters {
    display: flex;
    flex-wrap: wrap;
}

#filters p {
    margin-right: 40px;
    font-weight: bold;
}

#filters button {
    display: flex;
    align-items: center;
    margin: 0 30px 10px 0;
    border: 2px solid #D9D9D9;
    border-radius: 20px;
    padding: 0 20px;
    height: 40px;
    background-color: #FFF;
    cursor: pointer;
}

#filters button:hover {
    background-color: #DEEBFF;
    border: 2px solid #DEEBFF;
}

#filters button div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -22px;
    width: 40px;
    height: 40px;
    background-color: #DEEBFF;
    border-radius: 20px;
}

#warning {
    display: flex;
    align-items: center;
}

#warning i {
    margin-right: 10px;
    margin-bottom: 7px;
}

#housings {
    display: flex;
    flex-direction: row;
    margin: 0 20px 40px 20px;
}

#housings_results {
    background-color: #F2F2F2;
    width: 66.66%;
    padding: 0 20px;
    margin-right: 20px;
    border-radius: 20px;
}

#housings_results > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
}

.housings_results_card {
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    padding: 3px;
    width: 30%;
    background-color: #FFF;
    text-decoration: none;
    color: #000;
    /*box-shadow: 2px 2px 2px #D9D9D9;*/
    /*box-shadow: inset 2px #D9D9D9;*/
}

.housings_results_card:nth-child(1),
.housings_results_card:nth-child(2),
.housings_results_card:nth-child(3) {
    margin-bottom: 20px;
}

.housings_results_card_image {
    width: 100%;
    height: 100px;
}

.housings_results_card_image img {
    border-radius: 17px 17px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.housings_results_card_body {
    display: flex;
    flex-direction: column;
    margin: 0 10px 10px 10px;
}

#housings_results > p > a {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

#popular_housings {
    background-color: #F2F2F2;
    width: 33.33%;
    padding: 0 20px 20px 20px;
    border-radius: 20px;
}

#popular_housings h2 {
    display: flex;
    justify-content: space-between;
}

#popular_housings > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popular_housings_card {
    display: flex;
    justify-content: space-between;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    padding: 3px;
    height: 160px;
    background-color: #FFF;
    color: #000;
    text-decoration: none;
    /*box-shadow: 2px 2px 2px #D9D9D9;*/
    /*box-shadow: inset 2px #D9D9D9;*/
}

.popular_housings_card:nth-child(1),
.popular_housings_card:nth-child(2) {
    margin-bottom: 20px;
}

.popular_housings_card_image {
    width: 30%;
    height: 100%;
}

.popular_housings_card_image img {
    border-radius: 17px 0 0 17px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popular_housings_card_body {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    width: 60%;
}

#activities {
    margin: 0 20px 20px 20px;
}

#activities > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#activities > div > div {
    width: 24%;
    margin-bottom: 20px;
}

.activities_card {
    display: flex;
    flex-direction: column;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    color: #000;
    text-decoration: none;
    /*box-shadow: 2px 2px 2px #D9D9D9;*/
    /*box-shadow: inset 2px #D9D9D9;*/
}

#activities > div > div:nth-child(1) > .activities_card,
#activities > div > div:nth-child(3) > .activities_card {
    height: 500px;
}

#activities > div > div:nth-child(2) > .activities_card:nth-child(1),
#activities > div > div:nth-child(4) > .activities_card:nth-child(2) {
    height: 260px;
}

#activities > div > div:nth-child(2) > .activities_card:nth-child(2),
#activities > div > div:nth-child(4) > .activities_card:nth-child(1) {
    height: 220px;
}


#activities > div > div:nth-child(2) > .activities_card:nth-child(1),
#activities > div > div:nth-child(4) > .activities_card:nth-child(1) {
    margin-bottom: 20px;
}

.activities_card_image {
    width: 100%;
}

#activities > div > div:nth-child(1) > .activities_card > .activities_card_image,
#activities > div > div:nth-child(3) > .activities_card > .activities_card_image {
    height: 450px;
}

#activities > div > div:nth-child(2) > .activities_card:nth-child(1) > .activities_card_image,
#activities > div > div:nth-child(4) > .activities_card:nth-child(2) > .activities_card_image {
    height: 210px;
}

#activities > div > div:nth-child(2) > .activities_card:nth-child(2) > .activities_card_image,
#activities > div > div:nth-child(4) > .activities_card:nth-child(1) > .activities_card_image {
    height: 170px;
}

.activities_card_image img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.activities_card_body {
    padding: 0 10px;
    width: 100%;
}

@media (max-width: 992px) {
    .housings_results_card {
        width: 47%;
    }

    .housings_results_card:nth-child(4) {
        margin-bottom: 20px;
    }

    .popular_housings_card {
        height: 250px;
    }

    #activities > div > div {
        width: 48%;
    }
}


@media (max-width: 768px) {
    #search form button {
        border-radius: 10px 10px 10px 10px;
    }

    #search form button i {
        display: inline;
    }
    
    #search form button span {
        display: none;
    }

    #housings {
        flex-direction: column-reverse;
        margin: 0;
    }

    #housings_results {
        background-color: #FFF;
        width: 100%;
        border-right: 0;
    }

    .housings_results_card {
        width: 100%;
    }

    .housings_results_card_image {
        height: 300px;
    }

    .housings_results_card:nth-child(5) {
        margin-bottom: 20px;
    }

    #popular_housings {
        width: 100%;
        border-radius: 0;
        padding-bottom: 20px;
    }

    .popular_housings_card {
        height: 308px;
    }

    .popular_housings_card_image {
        width:  200px;
        height: 300px;
    }

    #activities > div > div {
        width: 100%;
    }

    #activities > div > div:nth-child(1) > .activities_card,
    #activities > div > div:nth-child(2) > .activities_card,
    #activities > div > div:nth-child(3) > .activities_card,
    #activities > div > div:nth-child(4) > .activities_card {
        height: unset;
    }

    #activities > div > div:nth-child(2) > .activities_card:nth-child(1),
    #activities > div > div:nth-child(4) > .activities_card:nth-child(2) {
        height: unset;
    }

    #activities > div > div:nth-child(2) > .activities_card:nth-child(2),
    #activities > div > div:nth-child(4) > .activities_card:nth-child(1) {
        height: unset;
    }

    #activities > div > div:nth-child(1) > .activities_card > .activities_card_image,
    #activities > div > div:nth-child(2) > .activities_card:nth-child(1) > .activities_card_image,
    #activities > div > div:nth-child(2) > .activities_card:nth-child(2) > .activities_card_image,
    #activities > div > div:nth-child(3) > .activities_card > .activities_card_image,
    #activities > div > div:nth-child(4) > .activities_card:nth-child(1) > .activities_card_image,
    #activities > div > div:nth-child(4) > .activities_card:nth-child(2) > .activities_card_image {
        height: 300px;
    }

}

@media (max-width: 600px) {
    .housings_results_card_image {
        height: 200px;
    }

    .popular_housings_card {
        height: 208px;
    }

    .popular_housings_card_image {
        height: 200px;
    }

    #activities > div > div:nth-child(1) > .activities_card > .activities_card_image,
    #activities > div > div:nth-child(2) > .activities_card:nth-child(1) > .activities_card_image,
    #activities > div > div:nth-child(2) > .activities_card:nth-child(2) > .activities_card_image,
    #activities > div > div:nth-child(3) > .activities_card > .activities_card_image,
    #activities > div > div:nth-child(4) > .activities_card:nth-child(1) > .activities_card_image,
    #activities > div > div:nth-child(4) > .activities_card:nth-child(2) > .activities_card_image {
        height: 200px;
    }
}

@media (max-width: 400px) {
    .housings_results_card_image {
        height: 100px;
    }

    #activities > div > div:nth-child(1) > .activities_card > .activities_card_image,
    #activities > div > div:nth-child(2) > .activities_card:nth-child(1) > .activities_card_image,
    #activities > div > div:nth-child(2) > .activities_card:nth-child(2) > .activities_card_image,
    #activities > div > div:nth-child(3) > .activities_card > .activities_card_image,
    #activities > div > div:nth-child(4) > .activities_card:nth-child(1) > .activities_card_image,
    #activities > div > div:nth-child(4) > .activities_card:nth-child(2) > .activities_card_image {
        height: 100px;
    }
}

/* End of main */
/* Footer */

footer {
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.footer_item {
    width: 32%;
}

.footer_item p {
    font-weight: bold;
}

.footer_item ul {
    list-style-type: none;
}

.footer_item li {
    margin-bottom: 10px;
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
    }
    
    .footer_item {
        width: 100%;
    }
}

/* End of footer */

