* {
    box-sizing: border-box; /* box-sizing est appliqué à tous les éléments */
}

body {
    background-color: #FFF;
    font-family: 'Raleway', sans-serif;
}

ul {
    padding: 0px;
    margin: 0px;
}

/* bleu (#0065FC) bleu plus clair (#DEEBFF) */

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#navigation {
    list-style-type: none;
    display: flex;
}

#navigation a/*,
#navigation a:link,
#navigation a:visited,
#navigation a:focus,
#navigation a:active*/ {
    display: block;
    padding: 30px 20px;
    text-decoration: none;
    color: black;
    border-top: transparent 2px solid;
}

#navigation a:hover {
    color: #0065FC;
    border-top: #0065FC 2px solid;
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 10px 0 0 0;
    }

    #logo {
        padding-left: 40px;
    }

    header nav {
        width: 100%;
    }

    #navigation {
        width: 100%;
    }

    #navigation li {
        width: 50%;
        text-align: center;
    }

    #navigation a {
        padding: 30px 20px 15px 20px;
        border-top: 0px;
        border-bottom: 2px solid transparent;
    }

    #navigation a:hover {
        border-top: 0px;
        border-bottom: 2px solid #0065FC;
    }


}

/* End of header */
/* Main */

main {
}

#filters {
    display: flex;
    flex-wrap: wrap;
}

#warning {
    display: flex;
}

#housings {
    display: flex;
    flex-direction: row;
}

#housings_results {
    background-color: #F2F2F2;
    width: 66.66%;
}

#housings_results > div {
    display: flex;
    flex-wrap: wrap;
}

#housings_results > div > div {
    width: 33.33%;
}

#popular_housings {
    background-color: #F2F2F2;
    width: 33.33%;
}

#popular_housings > div {
    display: flex;
    flex-direction: column;
}

#popular_housings > div > div {
    display: flex;
}

#popular_housings > div > div img {
    width: 33.33%;
}

#popular_housings > div > div div {
    width: 66.66%;
}

#activities > div {
    display: flex;
    flex-wrap: wrap;
}

#activities > div > div {
    width: 25%;
}

@media (max-width: 992px) {
    #housings_results > div > div {
        width: 50%;
    }

    #activities > div > div {
        width: 50%;
    }
}

@media (max-width: 768px) {
    #housings {
        flex-direction: column-reverse;
    }

    #housings_results {
        background-color: #FFF;
        width: 100%;
    }

    #housings_results > div > div {
        width: 100%;
    }

    #popular_housings {
        width: 100%;
    }

    #activities > div > div {
        width: 100%;
    }
}

/* End of main */
/* Footer */

footer {
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
}

.footer_item {
    width: 33.33%;
}

.footer_item ul {
    list-style-type: none;
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
    }
    
    .footer_item {
        width: 100%;
    }
}

/* End of footer */

